

<li>
	{{this.burger_name}} 
{{#if devoured}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	!{{else}}
	<button class="change-devoured" data-id="{{this.id}}">
		Dinner TIME
	</button>
		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/if}}
</li>