<li>
	{{burger}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{hungry}}">
		{{#if sleep}}Dinner TIME!{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
